<h1>Buscando: {{termino}}  </h1>

<div class="card-deck">
    <div class="card" *ngFor="let instrumentoAux of instrumentosBusqueda; let i = index" style="max-width: 25%; padding: 10px;">
      <img class="card-img-top" src="assets/img/{{instrumentoAux.imagen}}" alt="Card image cap" style="max-height: 150px;">
      <div class="card-body">
        <h5 class="card-title">{{instrumentoAux.instrumento}}</h5>
        <p class="card-text">$ {{instrumentoAux.precio}}</p>
      </div>
      <div class="card-footer" style="text-align: center;">
        <button (click)="verInstrumento(instrumentoAux.id)" class="btn btn-primary" style="width: 90%;">Detalle</button>
      </div>
    </div>
  </div>

